.my-music {
    margin: 0px auto;
    width: 60%;
    min-width: 600px;
    padding: 32px;
    min-height: calc(100vh - 156px);
    .card-container {
        .ant-tabs-card {
            .ant-tabs-tabs-content {
                height: 120px;
                margin-top: -16px;
                .ant-tabs-tabpane {
                    background: #fff;
                    padding: 16px;
                }
            }
            .ant-tabs-bar {
                border-color: #fff;
                .my-menus {
                    font-size: 20px;
                }
                .ant-tabs-tab {
                    border-color: transparent;
                    background: transparent;
                }
                .ant-tabs-tab-active {
                    border-color: #fff;
                    background: #fff;
                }
            }
        }
    }
}