.my-music {
    margin: 0px auto;
    width: 60%;
    min-width: 600px;
    padding: 32px;
    min-height: calc(100vh - 156px);
    .card-container {
        display: flex;
        flex-direction: row;
        .tab-wrapper {
            background-color: #fff;;
        }
        .wrapper-table {
            flex: 1;
            margin-left: 15px;
            .tab-title {
                margin-left: 8px;
            }
            .content-wrapper {
                background: #fff;
                .ant-list-item-meta-description {
                    padding: 8px;
                }
                .ant-list-item-content {
                    padding: 8px;
                }
            }
        }
        .ant-tabs .ant-tabs-left-bar .ant-tabs-tab{
            text-align: center;
        }
        .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active  {
            background:  #1890;
        }
        .ant-tabs-card {
            .ant-tabs-tabs-content {
                height: 120px;
                margin-top: -16px;
                .ant-tabs-tabpane {
                    background: #fff;
                    padding: 16px;
                }
            }
            .ant-tabs-bar {
                border-color: #fff;
                .ant-tabs-tab {
                    border-color: transparent;
                    background: transparent;
                }
                .ant-tabs-tab-active {
                    border-color: #fff;
                    background: #fff;
                    .ant-tabs-tab:hover{
                        background: #e6f7ff;
                    }
                }
            }
        }
    }
}

.list-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .left-list {
        flex: 1;
        .title-fenge {
            margin-left: 15px;
        } 
    }        
}