.ant-btn-primary {
    // margin: 8px;
    // text-align: right;
     float: right;
}

.ant-comment-actions {
    float: right;
    margin-top: -35px;
}
.reply-option {
    text-align: right;
    .reply-btn {
        float: left;
    }
}