.home-page {
    .home-header {
        background-color: #242424;
        height: 60px;
        color: #fff;
        line-height: 60px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-flow: nowrap;

        .head-left {
            flex: 3;
        }

        .head-right {
            flex: 1;
            margin-left: 50%;
        }
    }

    .home-content {
        min-height: calc(100vh - 60px);
    }

}

.song-list,
.new-song,
.singer {
    padding: 16px;
    h2 {
        padding-top: 16px;
        padding-bottom: 8px;
        font-size: 24px;
        margin: 0;
        text-align: center;
        background: transparent;
    }
    .new-wrapper {
        border: 1px solid black;
        width: 1024px;
        margin: 0 auto;
        min-height: 300px;
        .swiper-container {
            width: 100%;
            height: 100%;
          }
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    }
    .list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 1024px;
        margin: 0 auto;
        min-height: 300px;

        .list-card {
            width: 240px;
            margin: 12px 8px;
        }
    }
}

.song-list {
    background-color: #fff;
}

.new-song {
    background-color: #eee;
    .new-title {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h4 {
           margin-top: 30px;
        }
    }
}

.singer {
    background-color: #fff;
}