    .head-menu {
        flex: 1;
        font-size: 18px;
        .menu-item {
            margin: 0 8px;
            text-decoration: none;
            color: #1890ff;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }