.main-layout {

    .main-content {
        padding-top: 64px;
        .main {
            display: flex;
            min-height: calc(100vh - 64px);
        }
    }
    .home-header {
        display: flex;
        font-size: 20px;
        position: fixed;
        z-index: 1;
        width: 100%;
    }
}